.preview{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
   
    border: 3px solid linen;
}

.image-preview{
    display: flex;
    min-height: 150px;
    min-width: 150px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    position: relative; /*Needed for Image*/
    justify-items: center;
    align-items: center;
}

.image-preview img{
    object-fit: contain;
}