.piss{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.piss-button{
width: 100px;
height: 100px;
}
.piss button{
    position: relative;
    border: none;
    background: none;
    align-content: center;
}

.piss-button img{
    width: auto;
    height: 100%;
    filter: brightness(0) saturate(100%) 
    invert(97%) sepia(9%) saturate(1410%) hue-rotate(1deg) brightness(87%) contrast(92%);
}

.piss-button span{
    position: relative;
    top: -50%;
    pointer-events: none;

}