.my-button {
    background-color: #424240;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 12px;
    
}

.my-button:hover{
    background-color: #8d8d8d;
}


.links-row{
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    height:fit-content;
    margin-top: auto;
    margin-bottom: 0;

}

.link-whole{
    display: flex;
    height:fit-content;
    background-color: #2A2B2A;
    flex-direction: column;
    color: white;
}

.title{
    font-size: 4em;
    text-align: center;
}