.my-button{
    background-color: pink;
    padding: 12px;
}

.my-button a{
    text-decoration: none;
}

.links-row{
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    height:fit-content;
    margin-top: auto;
    margin-bottom: 0;
}

.link-whole{
    display: flex;
    min-height: 120px;
    background-color:rosybrown;
    flex-direction: column;
}