.approve-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
   
}

.row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.row p{
    text-align: center;

}
.status-stack{
    display: flex;
    flex-direction: column;
    height: fit-content;
    word-wrap: wrap;
    width: 100%;
}
.status-stack p{
    
    text-align: center;
    margin: 1px;
    padding: 1px;
}