@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

.onest {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
}

.entry{
    background-color: white;
   
    height: 200px;
    width: 150px;
    /*width: fit-content;
    height: fit-content;*/
    padding: 8px;
    overflow: hidden;
    /*border: 3px papayawhip solid;*/
    /*DAD orange*/
    border: 2px gainsboro solid;
      box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   
}

.entry a{
    margin: 0;
    padding: 0;
    position: relative; /*Needed for Image*/
    justify-items: center;
    align-items: center;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    height: inherit;
    
}

.entry:hover{
    /*border: 3px wheat solid;*/
    /*DAD BLUE*/
    border: 2px orange solid;
}
.title-area{
    display: flex;
    flex: 1;
    height: 100%;
    width: 150px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "onest", Arial, Helvetica, sans-serif;
    
}

.entry img{
    object-fit: contain;
}
/*npm i baseline-browser-mapping@latest -D*/
.image-preview{
    flex: 3;
    display: flex;
    width: 150px;
    height: 150px;
    position: relative; /*Needed for Image*/
    justify-items: center;
    align-items: center;
}

.image-preview img{
    object-fit: contain;
}

.entry a{
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
