
.image-viewer{
    display: flex;
    height: 80vh;
    width: 100%;
    position: relative; /*Needed for Image*/
    justify-items: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-viewer img{
    object-fit: contain; 
}

.title p, .tier-type p, .date-submitted p, .date-created p, .post-number p{
    margin: 2px;
}


.title{
    display: flex;
    font-weight: bold;
    font-size: 1em;
}
.tier-type{
}
.date-submitted{

}
.date-created{
   
}
.post-number{
}
.description{
    background-color: white;
    padding-left: 1em;
    text-indent: 3em;
    margin: 5px;
}